service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to latest
    match /latest/{DevEUI} {
      allow read: if true
    }
    match /sensors/lora/{DevEUI}/{time} {
      allow read: if true
    }
  }
}
