.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.App-bar {
  background-color: #ffffff;
  height: 70px;
  padding: 3px;
  color: #1c1c1c;
}

