body {
  margin: 0;
  padding: 0;
  font-family: Madera,sans-serif;
  background-color: #bbe1f0;
  color: #1c1c1c;
}

header.MuiAppBar-colorPrimary-11 {
    color: #1c1c1c;
    background-color: #ffffff;
}

header.jss11 {
    color: #1c1c1c;
    background-color: #ffffff;
}

h2.App-flex-2 {
    font-family: Madera,sans-serif;
}
